@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
}
.today {
  @apply text-black text-xl not-italic font-bold leading-[normal];
  font-family: Inter;
}

.otp-input {
  width: 40px !important;
  height: 45px !important;
  padding: 2px;
  font-size: 20px;
  margin-bottom: 3rem;
  border-radius: 5px;
  outline: none;
}

@media screen and (min-width: 450px) {
  .otp-input {
    width: 45px !important;
    height: 50px !important;
    padding: 2px;
    font-size: 30px;
  }
}
