@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.otp-input {
  width: 40px !important;
  height: 45px !important;
  padding: 2px;
  font-size: 20px;
  margin-bottom: 3rem;
  border-radius: 5px;
  outline: none;
}

@media screen and (min-width: 450px) {
  .otp-input {
    width: 45px !important;
    height: 50px !important;
    padding: 2px;
    font-size: 30px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
