* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.form--holder {
  min-height: calc(100vh - 110px);
}

.sidebar {
  background: linear-gradient(180deg, #FFF 0%, #E1DFE2 104.8%, #4256D0 169.64%);
  border: 0;
  li {
    a {
      border-radius: 10px;
      background: #FFF;
      &.active {
        background: #091F8E;
        color: #FAFAFA;
      }
    }
  }
}

.navbar {
  border: 0;
}

main {
  height: calc(100vh - 64px);
  background: #FAFAFA;
}

.theme-color {
  color: #6A8F9F;
}

.card-grid {
  .info {
    border-radius: 6.198px;
    border: 2.066px solid #ECEEF6;
    background: #FFF;
    padding:25px 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    h3 {
      font-size: 1.2rem;
      font-weight: 600;
    }
    h1 {
      font-size: 2.2rem;
      font-weight: 700;
    }
  }
}